@page
@model FastMarket.Pages.CategPage.ProductDetailsModel
@using Microsoft.AspNetCore.Identity
@using FastMarket.Auth.Models
@inject SignInManager<ApplicationUser> SignInMngr;
@{
    ViewBag.titel = "Product Details";
}
<br />
@if (TempData["AlertMessage"] !=null)
{
    <div  class="alert-success" style=" color: red; height:30px ;font-size: 15px;font-family: 'Raleway Bold';">
        <strong>Thank You ! </strong>@TempData["AlertMessage"]

    </div>
}
<br />
<br />
@*//// To fromat tha product data as bootstrap card*@
<section style="background-color: #eee; align-items:center" >
    <div class="card mb-3" style="max-width: 450px;align-content:center">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
             data-mdb-ripple-color="light">
            <img style="height: 350px" src=@Model.product.ImageUri
                 class="w-100" />
            <a href="#!">
                <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
            </a>
        </div>
        <div class="card-body">

            <h5 class="card-title mb-3">@Model.product.Name</h5>
            <h5 class="card-title mb-3">@Model.product.Price</h5>

            <h6 class="mb-3">@Model.product.Description</h6>


            @*///To add product to cart*@
            @if (SignInMngr.IsSignedIn(User))
            {
                <form method="post">
                    <input hidden asp-for="@Model.product.Id" value=@Model.product.Id />

                    <input hidden asp-for="@Model.product.Name" value=@Model.product.Name />
                    <input hidden asp-for="@Model.product.Description" value=@Model.product.Description />
                    <input hidden asp-for="@Model.product.Price" value=@Model.product.Price />
                    <input hidden asp-for="@Model.product.ImageUri" value=@Model.product.ImageUri />
                    <button class="btn btn-warning btn-lg ms-2" type="submit"> Add To Cart  </button>
                </form>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Index">  <button class="btn btn-primary btn-lg ">please Log In to continue</button> </a>

            }
        </div>
    </div>
</section>


<hr style="height:2px;width:400px;border-width:1px;">