@model FastMarket.Models.Categories
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

  <a asp-controller = "Categories" asp-action= "Add"> Create New Category</a>
     <br />


    <h1>Name : @Model.Name </h1>
    <br />
    <h1>Details : @Model.Details </h1>
    <br />


   <a asp-controller = "Categories" asp-action= "Edit" asp-route-id ="@Model.Id" > Edit</a>
   <a asp-controller = "Categories" asp-action= "DeleteCategory" asp-route-id ="@Model.Id" > Delete</a>

   <a asp-controller = "Categories" asp-action= "AddProductToCategories" asp-route-CategoryId = "@Model.Id">  Add Product To Category</a>


    @foreach (var item in Model.categoriesProducts)
   {
       <img src = "@item.Product.ImageUri" width = 100/> 
       <br />
       <h3>Name : @item.Product.Name</h3>
       <h3> Description : @item.Product.Description</h3>
       <h3> Price : @item.Product.Price</h3>
       <br />
              <a asp-controller="Product" asp-action="Update" asp-route-id=@item.ProductId>update Product</a>
                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id=@item.ProductId > delete Product </a>
       <hr style="height:2px;width:400px;border-width:1px;">


   }
    <hr />
    