@page
@model FastMarket.Pages.CartDetail.EditCartItemModel
@{
}


<section class="vh-100" style="background-color: #eee; >
    <div class="container h-100">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                                    <input hidden asp-for="@Model.EditedProduct.Id" />

                                   

                                        <input hidden asp-for="@Model.EditedProduct.Name" type="text" class="form-control form-control-lg" />
                                    

                                        <input hidden asp-for="@Model.EditedProduct.Price" type="number" class="form-control form-control-lg" />
                                 

                                        <input hidden asp-for="@Model.EditedProduct.Description" type="text" class="form-control form-control-lg" />
                              
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3"> Amount </label>

                                        <input asp-for="@Model.EditedProduct.Amount" type="number" class="form-control form-control-lg" />
                                    </div>

                                        <input hidden type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                                  


                                    <button class="btn btn-warning btn-lg" type="submit">update product</button>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div asp-validation-summary="All"></div>
