@page
@model FastMarket.Pages.CartDetail.IndexModel
@using Microsoft.AspNetCore.Identity
@using FastMarket.Auth.Models
@inject SignInManager<ApplicationUser> SignInMngr;
@{
}
<br />

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success" style=" color: red; height:30px ;font-size: 15px;font-family: 'Raleway Bold';">
        <strong>Alert : </strong>@TempData["AlertMessage"]

    </div>
}

<a class="btn btn-primary btn-lg" asp-page="/CategPage/Index"> Continue Shopping </a>

@{ if (!SignInMngr.IsSignedIn(User))
    {
        <a class="btn btn-primary btn-lg " asp-controller="Auth" asp-action="Index">  please Log In to continue</a>
        return;
    } }

@{if (@Model.Count != 0)
    {
        <h1 class="mt-4 mb-5"><strong>Cart</strong></h1>
        <h2> Pruduct in cart : @Model.Count </h2>
        <h2> Total Price : @Model.TotalPrice </h2>


        <div class="text-center container py-5">
            <h4 class="mt-4 mb-5"><strong>Category List</strong></h4>
            <div class="row">
                @foreach (var item in @Model.ListProduct)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img style="height: 400px" src="@item.ImageUri"
                                     class="w-75" />
                                <a href="#!">
                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100"></div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mb-3">Name : @item.Name</h5>
                                <h6 class="mb-3">Price : @item.Price</h6>
                                <h6 class="mb-3">Amount : @item.Amount</h6>
                                @{ Model.ItemTotalPrice = @item.Price * @item.Amount;}
                            <h6 class="mb-3">Total Price :@Model.ItemTotalPrice </h6>
                                <a class="btn btn-primary btn-lg" asp-page="/CartDetail/EditCartItem" asp-route-id=@item.Id asp-route-userId=@SignInMngr.UserManager.GetUserId(User)>Edit</a>

                                <form method="post">

                                    <input hidden name="id" value=@item.Id />

                                    <input hidden name="userId" value=@SignInMngr.UserManager.GetUserId(User) />

                                    <button class="btn btn-danger btn-lg ms-2" type="submit"> Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="btn btn-warning btn-lg" asp-page="/CartDetail/checkout" asp-route-userId=@SignInMngr.UserManager.GetUserId(User)>checkout</a>


        </div>
    }
    else
    {
        <br>
        <h1>cart is empty</h1>
    }
}